<left><h2><font color="blue">In an effort to help rescue animals in need,<br> 
           we've created a way to help them get where they need to go.</h2></left></font>
        <br>
        <br>
 <tr><font color="">
     <ul><h3>
        <li>App that has animals needing rides matched with drivers that can take them
         </li><br>
         <li>Post animals needing a ride
         </li><br>
         <li>Browse animals needing rides
         </li><br>
         <li>Give animal a ride if in the area!
         </li> 
      </ul></h3>
    </font>
 </tr> 
  