 <tr><font color="">
     <h2><li>App that has animals needing rides matched with drivers that can take them
         </li>
         <li>Post animals needing a ride
         </li>
         <li>Browse animals needing rides
         </li>
         <li>Give animal a ride if in the area!
         </li></h2></font>
 </tr> 
  