 

<h4>First Name: 
  <%== text_field_tag :subject, "", size: 30 %> </h4>
<h4>Last name: 
  <%== text_field_tag :subject, "", size: 30 %></h4><br> 
<h4>Password: 
  <%== text_field_tag :subject, "", size: 30 %></h4><br> 


<a href="/location"><button type="Home">Submit</button></a>

