<h2>First Name: 
  <%== text_field_tag :subject, "", size: 30 %> </h2>
<h2>Last name: 
  <%== text_field_tag :subject, "", size: 30 %></h2><br> 
<h2>Password: 
  <%== text_field_tag :subject, "", size: 30 %></h2><br> 


<%== submit_tag "Login" %>

