<!DOCTYPE html>
  <html>
    <head>
    
     
    <a href="/"><button type="Home">Home</button></a>
    <a href="/sign_in"><button type="button">Sign In</button></a>
    <a href="/sign_up"><button type="button">Sign up</button></a>
    <a href="/about"><button type="button">About</button></a>
    <a href="/contact_us"><button type="button">Contact us!</button></a>
    <a href="/admin"><button type="Home">Admin</button></a>
    
    <title>Project13</title>
        <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>

    <%= yield %>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    
    
    
    <p> <h6>Almost home transports</h6> </p>

    </body>
</html>
