<!DOCTYPE html>
<html>
<head>
  <title>Project13</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<p> <h6>2013 Almost Home network</h6> </p>

</body>
</html>
